@charset "UTF-8";
/*! Pakage: thekudos make by dstyle(dstyle0210@gmail.com) */
/*! 작품 아이템 */
.itemWrap .itemSec .item-canvas,.itemWrap .itemSec .item-upload{overflow:hidden;border:1px solid #ccc;height:321.25px;width:227.5px}
.itemWrap .itemSec .item-desc .item-title:hover,.itemWrap .itemSec .item-desc .item-writer:hover{text-decoration:underline}
.itemListWrap{position:relative;width:1029px;overflow:hidden}
.itemListMoreWrap{text-align:center}
.itemListMoreWrap .btn-info{background:#004dff}
.itemWrap{float:left;padding-bottom:29px;width:256.5px}
.itemWrap .itemNameSec{width:229.5px;height:30px;text-align:center}
.itemWrap .itemSec{width:229.5px}
.itemWrap .itemSec .item-upload{box-sizing:content-box;background:#f5f5f5}
.itemWrap .itemSec .item-upload a.btnUploadFile{display:inline-block;margin-top:130px;margin-left:90px}
.itemWrap .itemSec .item-upload input[type=file]{display:none}
.itemWrap .itemSec .item-canvas{position:relative;box-sizing:content-box}
.itemWrap .itemSec .item-canvas>img{width:227.5px;height:321.25px}
.itemWrap .itemSec .item-canvas .zzim{position:absolute;bottom:0;left:0;width:100%;height:70px;background:rgba(0,0,0,.5);text-align:right;-webkit-transition:.5s;transition:.5s;-webkit-transform:translate3d(0,70px,0);transform:translate3d(0,70px,0)}
.itemWrap .itemSec .item-canvas .zzim button{display:inline-block;padding-top:5px;width:100%;height:70px;text-align:center}
.itemWrap .itemSec .item-canvas .zzim button i{font-size:24px;color:#fff}
.itemWrap .itemSec .item-canvas:hover .zzim{-webkit-transition:.5s;transition:.5s;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.itemWrap .itemSec .item-canvas .delete{position:absolute;right:5px;bottom:5px}
.itemWrap .itemSec .item-canvas .delete i{font-size:21px}
.itemWrap .itemSec .item-canvas .deleteLayer{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5)}
.itemWrap .itemSec .item-desc .item-title,.itemWrap .itemSec .item-desc .item-writer{display:inline-block;max-width:100%;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap;zoom:1;overflow:hidden}
.itemWrap .itemSec .item-canvas .deleteLayer .deleteSubmitSec{margin:130px auto 0;padding:10px;width:80%;border-radius:5px;background:#fff}
.itemWrap .itemSec .item-canvas .deleteLayer .deleteSubmitSec .btn{width:74px}
.itemWrap .itemSec .item-desc{width:227.5px;overflow:hidden}
.itemWrap .itemSec .item-desc .item-title{display:block;font-size:16px;color:#000}
.itemWrap .itemSec .item-desc .item-writer{display:block;font-size:14px;color:#750787}
.itemWrap .itemSec .item-desc .item-social{text-align:right}
.itemWrap .itemSec .item-desc .item-social>a{display:inline-block;margin-left:10px}

/*! 작품목록 */
.listWrap{width:100%;overflow:hidden}
.listWrap .inner{margin:0 auto;width:1000px;overflow:hidden}

/*! 작품타이틀 */
.listTitleWrap{width:100%;overflow:hidden}
.listTitleWrap .inner{margin:0 auto 20px;padding-bottom:20px;width:1000px;overflow:hidden;border-bottom:1px solid #ccc}
.listTitleWrap .inner>h2.h2{text-align:center}



/*! 댓글 */
.replyArticle .replyBtnSec .rightSec a:hover,.replyArticle .writer .name>a:hover{text-decoration:underline}
.replySec{padding-top:40px;width:100%;overflow:hidden}
.replySec .replyWriteSec h3{font-size:24px;color:#750787}
.replySec .replyWriteForm{padding-top:10px}
.replySec .replyWriteForm textarea{padding:15px;width:100%;height:100px;background:#fcfcfc}
.replySec .replyListSec{padding-top:30px;width:100%;overflow:hidden}
.replySec .replyListSec>div:last-child{border-bottom:0}
.replyArticle{position:relative;padding:20px 0;min-height:200px;width:100%;overflow:hidden;border-bottom:1px dashed #ccc}
.replyArticle .replyReplyListSec,.replyArticle .replyReplyWrite{margin-left:200px;padding-top:15px}
.replyArticle .writer{position:absolute;top:20px;left:0;width:160px}
.replyArticle .writer .name{padding-bottom:10px;width:140px;text-align:center}
.replyArticle .writer .name>a{color:#750787}
.replyArticle .writer .thumb{width:140px;height:140px;overflow:hidden;border-radius:80px;background:url(../tk_images/common/bg/bgLazyCamera.gif) 50% 50% no-repeat #f5f5f5}
.replyArticle .writer .thumb>img{width:140px;height:140px;opacity:0}
.replyArticle .comment{margin-left:200px;min-height:145px}
.replyArticle .comment .writeTime{padding-bottom:10px}
.replyArticle .replyBtnSec{margin-left:200px}
.replyArticle .replyReplyWrite{display:none}
.replyArticle .replyReplyWrite textarea{width:100%;height:100px;background:#fcfcfc}
.replyArticle .replyReplyListSec .replyReplyArticle{position:relative;padding-bottom:10px;padding-left:25px;width:100%;overflow:hidden}
.replyArticle .replyReplyListSec .replyReplyArticle>i{position:absolute;top:3px;left:0}
.replyListMoreSec>button{background:#004dff}
