@charset "UTF-8";
/*! Pakage: thekudos make by dstyle(dstyle0210@gmail.com) */

/*! 풋터영역 */
.footer{margin-top:30px;height:120px;border-top:1px solid #ccc}
.footer .inner{position:relative;margin:0 auto;width:1000px;overflow:hidden;color:#000}
.footer .footBtnSec{float:left;padding-top:20px}
.footer .footBtnSec a{display:inline-block;padding:5px 20px;font-size:16px}



/*! 헤더영역 */
.header{height:80px;border-bottom:1px solid #ccc;background:#f5f5f5}
.header .inner{position:relative;margin:0 auto;width:1000px;color:#000}
.header .logo{position:absolute;top:15px;left:0;margin:0;padding:0;font-weight:700;font-size:28px}
.header .login,.header .profile{top:20px;right:0;position:absolute}
.header .gnb{padding-top:20px;text-align:center}
.header .gnb .btn-group .btn-primary{background:#750787}
.header .profile{width:200px;text-align:right}
.header .profile>*{vertical-align:top}
.header .profile .thumb{display:inline-block;width:40px;height:40px;overflow:hidden;border:1px solid #ccc;border-radius:20px;background:url(../tk_images/common/bg/bgLazyCamera.gif) 50% 50% no-repeat #f5f5f5}
.header .profile .thumb>img{width:40px;height:40px;opacity:0}
.header .profile .name{display:inline-block;padding:8px 0 0 6px;font-size:16px}
.header .profile .name a{color:#750787}
.header .profile .mypageLayer{display:none;position:absolute;top:45px;left:80px;box-sizing:border-box;padding:17px 15px 0;width:97px;height:77px;background:url(../tk_images/common/bg/bgMypageLayer.gif) no-repeat;text-align:left}
.header .profile .mypageLayer a{display:block;padding:3px 0}



/*! 리스트 정렬영역 */
.listSortWrap{padding-bottom:20px;width:100%}
.listSortWrap:after,.listSortWrap:before{display:table;content:"";line-height:0}
.listSortWrap:after{clear:both}
.listSortWrap .inner{position:relative;margin:0 auto;width:1000px}
.listSortWrap .inner .sortTitle{height:32px;overflow:hidden;font-weight:700;font-size:32px;color:#333;line-height:32px}
.listSortWrap .inner .rightSec .btn-primary{background:#004dff}
.listSortWrap .inner .searchForm{display:inline-block}



/*! 상단베너영역 */
.topBnrWrap{padding:20px 0;text-align:center}
.topBnrWrap .topBnrSec .swiper-container{width:728px;height:90px}
