@charset "UTF-8";
/*! Pakage: thekudos make by dstyle(dstyle0210@gmail.com) */

/*! 비밀번호 찾기영역 */
.findPwWrap{width:100%;overflow:hidden}
.findPwWrap .inner{margin:0 auto;width:728px;overflow:hidden}
.findPwWrap form{margin-top:30px}
.findPwWrap form:first-child{margin-top:0}



/*! 로그인영역 */
.loginWrap{width:100%;overflow:hidden}
.loginWrap .inner{margin:0 auto;width:728px;overflow:hidden}
.loginWrap .findPWbtnSec{padding-top:10px;text-align:right}
.loginWrap .findPWbtnSec>span{display:inline-block;padding:0 15px;color:#ccc}
.loginWrap .findPWbtnSec>a{display:inline-block;border-bottom:1px solid #0d87e9;color:#0d87e9}
.loginWrap form{margin-top:10px}
.loginWrap .localLogin:after,.loginWrap .localLogin:before{display:table;content:"";line-height:0}
.loginWrap .localLogin:after{clear:both}
.loginWrap .localLogin *{margin:0;vertical-align:middle}
.loginWrap .localLogin .checkbox{float:right}
.loginWrap .snsLoginWrap{padding-top:20px}



/*! 동인통판 > 회지등록 */
.pageAddWrap .pageFormSec .copyrightPreview #label-cp,.pageAddWrap .uploadPaneSec input[type=file]{display:none}
.pageAddWrap{width:100%;overflow:hidden}
.pageAddWrap .inner{margin:0 auto;width:1000px;overflow:hidden}
.pageAddWrap .uploadPaneSec{position:relative;margin:0 auto;width:504px;height:716px;border:1px solid #ccc;background:url(/src/tk_images/both/bgUploadFile.gif) no-repeat #f5f5f5}
.pageAddWrap .uploadPaneSec .btnUploadFile{position:absolute;top:294px;left:197px}
.pageAddWrap .uploadPaneSec .btnUploadFile i{font-size:128px}
.pageAddWrap .uploadPaneSec:hover{background:url(/src/tk_images/both/bgUploadFileOn.gif) no-repeat #f5f5f5}
.pageAddWrap .uploadPaneSec:hover i{color:#750787}
.pageAddWrap .pageFormSec{margin-top:30px}
.pageAddWrap .pageFormSec h3{padding-bottom:10px}
.pageAddWrap .pageFormSec .form-inline .form-group{margin-right:20px}
.pageAddWrap .pageFormSec .copyrightPreview{height:30px}
.pageAddWrap .pageFormSec textarea.form-control{height:150px}



/*! 동인통판 > 작품내용 */
.pageViewWrap{width:100%;overflow:hidden}
.pageViewWrap .inner{margin:0 auto;width:1000px;overflow:hidden}
.pageViewWrap .itemPaneSec{position:relative;margin:0 auto;width:546px;height:771px;overflow:hidden}
.pageViewWrap .itemPaneSec>img{width:100%;height:auto;border:1px solid #ccc}
.pageViewWrap .itemPaneSec .zzim{display:-webkit-flex;display:flex;position:absolute;bottom:0;left:0;width:100%;height:70px;background:rgba(0,0,0,.5);text-align:right;-webkit-transition:.5s;transition:.5s;-webkit-transform:translate3d(0,70px,0);transform:translate3d(0,70px,0)}
.pageViewWrap .itemPaneSec .zzim *{vertical-align:top}
.pageViewWrap .itemPaneSec .zzim button,.pageViewWrap .itemPaneSec .zzim span{display:inline-block;height:70px;text-align:center;-webkit-flex:1;flex:1}
.pageViewWrap .itemPaneSec .zzim button em,.pageViewWrap .itemPaneSec .zzim button i,.pageViewWrap .itemPaneSec .zzim span em,.pageViewWrap .itemPaneSec .zzim span i{display:inline-block;margin-left:5px;color:#fff;line-height:18px}
.pageViewWrap .itemPaneSec .zzim button i,.pageViewWrap .itemPaneSec .zzim span i{font-size:24px}
.pageViewWrap .itemPaneSec .zzim button i.fa-heart,.pageViewWrap .itemPaneSec .zzim span i.fa-heart{color:red}
.pageViewWrap .itemPaneSec .zzim button em,.pageViewWrap .itemPaneSec .zzim span em{font-size:18px}
.pageViewWrap .itemPaneSec .zzim span{padding-top:28px}
.pageViewWrap .itemPaneSec .zzim button{padding-top:5px}
.pageViewWrap .itemPaneSec:hover .zzim{-webkit-transition:.5s;transition:.5s;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.pageViewWrap .pageItemInfoSec{text-align:center}
.pageViewWrap .pageItemInfoSec .copyright{padding-top:20px}
.pageViewWrap .pageItemInfoSec .buyShop{padding-top:10px}
.pageViewWrap .pageItemInfoSec .buyShop>a{color:#750787}
.pageViewWrap .pageItemInfoSec .buyShop>a:hover{text-decoration:underline}
.pageViewWrap .pageViewSec{margin-top:30px}
.pageViewWrap .pageViewSec h3.pageTitle{padding-bottom:5px;overflow:hidden;border-bottom:1px solid #ddd;text-overflow:ellipsis;white-space:nowrap;font-size:24px;zoom:1}
.pageViewWrap .pageViewSec div.pageContent{font-size:16px}
.pageViewWrap .pageViewSec div.pageContent p{padding-bottom:15px}
.pageViewWrap .pageViewSec div.pageContent a{color:#2196f3}
.pageViewWrap .pageShereSec{position:relative;width:100%;text-align:center}
.pageViewWrap .pageShereSec .fa{width:70px}
.pageViewWrap .pageShereSec .reportPage{position:absolute;top:15px;right:0;font-size:14px}



/*! 중철제본 > 미리보기 */
.previewWrap{width:100%;overflow:hidden}
.previewWrap .inner{margin:0 auto;width:1000px;overflow:hidden}
.previewWrap .controllerSec{position:relative;box-sizing:border-box;width:100%;border:1px solid #ccc}
.previewWrap .posBtn{position:absolute;top:15px}
.previewWrap .posBtn button:hover>i{color:#f60}
.previewWrap .posBtn.prevBtn{left:15px}
.previewWrap .posBtn.nextBtn{right:15px}
.previewWrap .previewLabel{padding:15px;text-align:center}
.previewWrap .previewLabel mark{background:0 0}
.previewWrap .previewCanvasSec{margin-top:20px;width:100%;overflow:hidden}
.previewWrap .previewCanvasSec div[class^=cut-]{position:relative;margin:0 auto;width:546px;height:771px;border:1px solid #ccc;background:#f5f5f5}
.previewWrap .previewCanvasSec div[class^=cut-].cut-2mm .itemPane>img{width:530.88px}
.previewWrap .previewCanvasSec div[class^=cut-].cut-3mm .itemPane>img{width:523.32px}
.previewWrap .previewCanvasSec div[class^=cut-].cut-4mm .itemPane>img{width:515.76px}
.previewWrap .previewCanvasSec div[class^=cut-].cut-5mm .itemPane>img{width:508.2px}
.previewWrap .previewCanvasSec div[class^=cut-].cut-6mm .itemPane>img{width:500.65px}
.previewWrap .previewCanvasSec div[class^=cut-].cut-7mm .itemPane>img{width:493.09px}
.previewWrap .previewCanvasSec div[class^=cut-].cut-8mm .itemPane>img{width:485.53px}
.previewWrap .previewCanvasSec div[class^=cut-]:hover>div.zoom{display:block}
.previewWrap .previewCanvasSec div[class^=cut-]>div.zoom{display:none;position:absolute;top:0;left:0;width:100%;height:771px;background:rgba(0,0,0,.5);text-align:center}
.previewWrap .previewCanvasSec div[class^=cut-]>div.zoom>button{padding-top:321.5px;font-size:32px;color:#fff}
.previewWrap .previewCanvasSec .itemPane{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.previewWrap .previewCanvasSec .itemPane>img{width:100%;height:auto;border:1px solid #ccc}



/*! 회원정보수정 */
.regEditWrap{width:100%;overflow:hidden}
.regEditWrap .inner{position:relative;margin:0 auto;width:728px;overflow:hidden}
.regEditWrap input[type=email],.regEditWrap input[type=password],.regEditWrap input[type=text],.regEditWrap textarea{background:#fcfcfc}
.regEditWrap label{font-size:14px}
.regEditWrap .user{position:absolute;top:0;left:0;width:160px;height:160px}
.regEditWrap .user .thumb{width:140px;height:140px;overflow:hidden;border-radius:80px;background:url(../tk_images/common/bg/bgLazyCamera.gif) 50% 50% no-repeat #f5f5f5}
.regEditWrap .user .thumb>img{width:140px;height:140px;opacity:0}
.regEditWrap .user .change{padding-top:15px;width:140px;text-align:center}
.regEditWrap .addValue,.regEditWrap .emailOpt{width:100%;overflow:hidden}
.regEditWrap .basic{margin-left:160px}
.regEditWrap .addValue .sec{margin-top:30px}
.regEditWrap .emailOpt{padding-bottom:15px}
.regEditWrap .emailOpt i.fa{font-size:17px}
.regEditWrap .emailOpt .unconfirm{float:left;color:#999}
.regEditWrap .emailOpt .unconfirm>a{border-bottom:1px solid #0d87e9;color:#0d87e9}
.regEditWrap .emailOpt .confirm{float:left;color:#333}
.regEditWrap .emailOpt .checkbox{float:right;margin:0}
.regEditWrap .emailOpt .checkbox *{margin:0}



/*! 회원가입영역 */
.regIdWrap{width:100%;overflow:hidden}
.regIdWrap .inner{margin:0 auto;width:728px;overflow:hidden}
.regIdWrap .brandWallSec{padding-bottom:20px;text-align:center}
.regIdWrap .brandWallSec .h3{font-weight:700}
.regIdWrap .brandWallSec p{padding-top:15px;font-size:16px}
.regIdWrap .desc{padding-bottom:20px}
.regIdWrap .desc a{color:#f60}



/*! 동인통판 > 회원정보 */
.userLinkWrap .thumb,.userWrap .userArticle .userThumb .thumb{overflow:hidden;background:url(../tk_images/common/bg/bgLazyCamera.gif) 50% 50% no-repeat #f5f5f5}
.userWrap{width:100%;overflow:hidden}
.userWrap .inner{margin:0 auto;width:1000px;overflow:hidden}
.userWrap .userArticle{position:relative;margin-top:20px;padding:20px 0 40px;min-height:200px;width:100%;overflow:hidden}
.userWrap .userArticle .userThumb{position:absolute;top:0;left:0;width:160px}
.userWrap .userArticle .userThumb .name{padding-top:10px;width:140px;text-align:center;color:#750787}
.userWrap .userArticle .userThumb .thumb{width:140px;height:140px;border-radius:80px}
.userWrap .userArticle .userThumb .thumb>img{width:140px;height:140px;opacity:0}
.userWrap .userArticle .userReview{margin-left:160px}
.userWrap .userArticle .userReview .desc{min-height:125px;font-size:14px}
.userWrap .userArticle .userReview .desc p{padding-bottom:15px}
.userWrap .userArticle .userReview .link{text-align:right}
.userWrap .userArticle .userReview .link>a{color:#750787}

/*! USERPAGE > 회원작품목록  */
.userLinkWrap{margin-bottom:20px;width:100%;overflow:hidden}
.userLinkWrap .inner{margin:0 auto;width:1000px;overflow:hidden}
.userLinkWrap .leftSec>a{margin-right:15px;vertical-align:middle}
.userLinkWrap .thumb{display:inline-block;width:60px;height:60px;border:1px solid #ccc;border-radius:30px}
.userLinkWrap .thumb>img{width:60px;height:60px;opacity:0}
.userLinkWrap .logoutSec{padding-top:13px}
